
@{
    ViewData["Title"] = "IndexPost";
}

<h1>IndexPost</h1>


<div>
    <h3>ViewDatax: @ViewData["X"]</h3>
    <h3>TempDataX: @TempData["globalx"]</h3>
    <h3>ViewDatay: @ViewData["globalY"]</h3>
</div>

