@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<div>
    <h1>DoLogin:  Get out you are not my people @ViewData["uservalue"]</h1>
</div>