
@{
    ViewData["Title"] = "Score";
}

<h1>Score</h1>

<hr />
<h1>Andhaman Beaches List</h1>
<ul>
    <li>Radhanagar</li>
    <li>Neal Island</li>
    <li>Ross Island</li>
    <li> Wandoor</li>
</ul>
<hr />
